@import 'colors';

header#bio {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    /* bio styling */
    box-sizing: border-box;
    padding: 0.5em;
    border-radius: 5px;
    background: $light;
    margin-top: 1em;
}

#bio-info {
    grid-area: 1 / 2 / 2 / 6;
}
#avatar {
    grid-area: 1 / 1 / 2 / 2;
    box-sizing: border-box;
    padding-right: 1em;
    position: relative;
    width: 100%;
    text-align: center;

    img {
        width: 100%;
        margin: 0 auto;
    }

    h2 {
        font-size: 24px;
        margin: 0;

        &:nth-child(3) {
            opacity: 0.6;
            font-size: 20px;
        }
    }
}

#extra-bio-info {
    grid-area: 1 / 4 / 2 / 6;
}

#bio-info {

    h3 {
        font-size: 20px;
        margin: 0.5em 0;
        font-weight: 400;
    }

    p {
        font-size: 20px;
        margin: 0.5em 0 0;
    }

    a {
        color: $primary;
        text-decoration: none;
    }

    td:nth-child(1) {
        opacity: 0.6;
        padding-right: 20px;
        padding-left: 0;
    }
    
}

table {
    font-size: 16px;
    border: none;
    border-image-width: 0;
}

#extra-bio-info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.badge {
    display: inline-block;
    text-align: right;
    font-size: 16px;
    margin-left: 15px;

    .num  {
        font-size: 24px;
        font-weight: 600;
        color: $primary;
    }
} 