@import 'colors';

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 16px;
    background: $light;
    color: $text;
    box-sizing: border-box;
    padding: 1em 0;
    border-radius: 5px 5px 0 0;
    text-align: left;
    max-height: 200px;

    .container {
        display: flex;

        div {
            flex: 1;
            opacity: 0.8;
        }
    }

    h4 {
        margin: 0.5em 0;
        font-size: 18px;
    }

    p {
        margin-top: 0;
        display: block;
        font-weight: 500;
    }

    a {
        color: $primary;
    }
}