/*.App {*/
/*  text-align: center;*/
/*}*/

html, body {
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1024px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo, .spin-icon {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
